
Download.csv
Download.xml
utilities/__pycache__/QuickNII_functions.cpython-39.pyc
utilities/adult_to_p28_test.xml.csv
utilities/adult_to_p28_test.xml.xml
utilities/C110_deepslice2.xml
DS-test.py
DS-test.py
utilities/__pycache__/plane_alignment.cpython-37.pyc
utilities/__pycache__/QuickNII_functions.cpython-37.pyc
*.pyc
*.pyc
DeepSlice/metadata/volumes/*.nii
DeepSlice/metadata/weights/*.h5
DeepSlice/metadata/weights/*.hdf5

dist
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
DeepSlice.egg-info